@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    line-height: 1.7;
}

a{
    transition: color .2s linear, border .2s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9d;
}

a:hover{
    border-bottom-color: transparent;
}

p{
    margin: 0 0 2em;
}

img{
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
    color: #787878;
    font-weight: normal;
    margin: 1em 0; /* 1em significa a proporção de 1 para o tamanho da fonte */ 
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 22px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 15px;
}

sub,sup{
    font-size: 12px;
}

blockquote{
    border-left: 5px solid #cccccc;
    margin: 2em 0;
    padding: .5em 0 .5em 1.5em;
}

blockquote p{
    margin-bottom: 0;
}

code{
    background-color: #f7f7f7;
    border-radius: .35em;
    border: 2px solid #ccc;
    font-size: .9em;
    padding: 0.25em 0.65em;
    font-family: 'Courier New', Courier, monospace;
    color: #929292;
}

pre code{
    display: block;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.ul-alternate{
    list-style-type: none;
    padding-left: 0;

}

.ul-alternate li{
    border-bottom: 2px solid rgb(216, 216, 216);
    padding-left: 0;
}

.ul-alternate li:last-child{ /* Last child é o último elemento da lista */ 
    border: 0;
}

input,label,textarea,select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input,textarea,select{
    background-color: #ccc;
    padding: 15px;
    border-radius: 5px;
    border: 3px solid transparent;
    margin-bottom: 15px;
}

input:focus,textarea:focus{
    border: 3px solid #49bf9d;
    outline: none;
}

textarea{
    height: 10em;
    resize: none;
}

.main-input-radio-checkbox{
    width: auto;
}

.button-default{
    background-color: #49bf9d;
    border: 3px solid #49bf9d;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .8em;
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    transition: all .5s;
    cursor: pointer;
}

.button-default:hover{
    background-color: #5ddeb9;
    border-color: transparent;
}

.button-default-stroke{
    background-color: white;
    border-color: #d1d1d1;
    color: inherit;
}

.button-default-stroke:hover{
    color: #49bf9d;
    border-color: #49bf9d;
    background-color: white;
}

.button-default-small{
    font-size: .65em;
}

.button-default-big{
    font-size: 1em;
}

.button-default-full{
    width: 100%;
    display: block;
    text-align: center;
}

.imagem-link{
    border: 0;
}

.table{
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
}

.table td{
    padding: .75em;
}

.table th{
    background-color: #ccc;
    padding: .75em;
}

.table tbody tr td{
    border-bottom: 1px solid #ccc;
}

.table tbody tr:first-child td{
    border-top: 2px solid #666
}

.table tbody tr:last-child{
    border-bottom: 2px solid #666;
}

.table tbody tr:nth-child(odd) td{
    background-color: #eee;
}

.table-alternate tbody td, .table-alternate tbody tr:first-child td, .table-alternate tbody tr:last-child{
    border: 1px solid #ddd;
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(images/overlay.png),url(images/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}

.main-header-title{
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255,255,255,.5);
    font-weight: normal;
}

.main-header-title strong{
    color: white;
    font-weight: normal;
}

.main-header-link{
    color: inherit; /* inherit faz com que o texto do link herde a cor do parágrafo todo */
}

.main-header-link:hover{
    color: #49bf9d;
}

.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
}

.main-header-link img{
    border-radius: 50%;
    overflow: hidden;
}

.recent-works-card img{
    border-radius: 10px;
    overflow: hidden;
}

.gallery-img img{
    width: 100%;
}

.gallery-thumb img, .gallery-img img{
    margin-bottom: 2%;
    display: inline-block;
    border-radius: 5px;
}

.img-left{
    float: left;
    margin-right: 25px;
    border-radius: 10px;
    overflow: auto;
}

.img-right{
    float: right;
    margin-left: 25px;
    border-radius: 10px;
    overflow: auto;
}

.main-footer{
    position: fixed;
    bottom: 0;
    width: 35%;
    left: 0;
    padding: 0px 54px 72px 0;
    box-sizing: border-box;
    text-align: right;
}

.icon-link{
    color: rgba(255,255,255,.5);
    border-bottom: none;
}

.ul-icons{
    list-style-type: none;
}

.ul-icons li{
    display: inline;
    padding: 5px;
    font-size: 20px;
    transition: all .5s;
}

.ul-icons a:hover{
    color: #49bf9d;
}

.copyright{
    list-style-type: none;
    color: rgba(255,255,255,.5);
}

.copyright li{
    display: inline;
    font-size: 14px;
    color: #5a5a5a;
}

.copyright a{
    color: rgba(255,255,255,.5);
    transition: all .5s;
    color: #5a5a5a;
}

.copyright a:hover{
    color: #49bf9d;
}

.row{
    overflow: auto;
}

.col-2{
    width: 48.5%;
    float: left;
}

.col-2:first-child{
    margin-right: 1.5%;
}

.col-2:last-child{
    margin-left: 1.5%;
}

.col-2-3{
    width: 66%;
    float: left;
}

.col-1-3{
    width: 32%;
    float: left;
}

.col-1-3:nth-child(3n-2){ /* pega os múltiplos de 3 e tira 2 */
    margin-right: 2%;
}

.col-1-3:nth-child(3n){  /* pega os múltiplos de 3 */
    margin-left: 2%;
}

.col-2-3 + .col-1-3, .col-1-3 + .col-2-3{ /* seleciona o col-1-3 que vem imediatamente depois do col-2-3 */
    margin-left: 2%;
}

